body {
	background: black;
	padding: 150px;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard {
	padding-top: 50;
}

.postcard-header {
	display: flex;
	padding: 5px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 340px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left {
	width: 150px;
}

.body-left p {
	margin-top: 0;
	font-weight: bold;
	font-style: oblique;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body-left,
.body-right {
	padding: 20px;
}

.postcard-footer {
	text-align: center;
}

.button {
	background-color: lightblue;
	padding: 10px;
	font-weight: bold;
	font-size: large;
}
